<hlm-sidebar>
  <div hlmSidebarContent>
    <div hlmSidebarGroup>
      <div hlmSidebarGroupLabel>Navegación</div>
      <div hlmSidebarGroupContent>
        <ul hlmSidebarMenu>
          @for (item of menuItems(); track item.route) {
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton class="p-2" [routerLink]="item.route" routerLinkActive="bg-accent">
                <ng-icon hlm [name]="item.icon"/>
                <span>{{ item.label }}</span>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div hlmSidebarFooter>
    <ul hlmSidebarMenu>
      <li hlmSidebarMenuItem>
        <button
          hlmSidebarMenuButton
          (click)="toggleTheme()"
          [attr.aria-label]="isDark() ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'"
        >
          @if (isDark()) {
            <ng-icon hlm name="lucideSun"/>
          } @else {
            <ng-icon hlm name="lucideMoon"/>
          }
          <span>{{ isDark() ? 'Modo Claro' : 'Modo Oscuro' }}</span>
        </button>
      </li>

      <div hlmSidebarSeparator></div>

      <li hlmSidebarMenuItem>
        <button
          hlmSidebarMenuButton
          (click)="logout()"
          class="text-destructive hover:text-destructive"
        >
          <ng-icon hlm name="lucideLogOut"/>
          <span>Cerrar Sesión</span>
        </button>
      </li>
    </ul>
  </div>
</hlm-sidebar>
