<footer class="w-full border-t border-border bg-background">
  <div class="container flex h-16 items-center justify-center px-4 lg:px-8">
    <p class="flex items-center gap-1 text-sm text-muted-foreground">
      Desarrollado con
      <ng-icon name="lucideHeart" hlm size="sm" class="text-red-500"/>
      por
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium underline-offset-4 hover:underline hover:text-primary transition-colors"
      >
        spacecodee
      </a>
    </p>
  </div>
</footer>
