<brn-select
  [placeholder]="placeholder()"
  [ngModel]="value() ?? 'ALL'"
  (ngModelChange)="onValueChange($event)"
  [disabled]="disabled()"
>
  <hlm-select-trigger class="w-full">
    <hlm-select-value/>
  </hlm-select-trigger>
  <hlm-select-content>
    <hlm-option value="ALL">Todos</hlm-option>
    <hlm-option [value]="MovementType.STOCK_IN">Entrada de Stock</hlm-option>
    <hlm-option [value]="MovementType.STOCK_OUT">Salida de Stock</hlm-option>
    <hlm-option [value]="MovementType.INITIAL">Inicial</hlm-option>
    <hlm-option [value]="MovementType.ADJUSTMENT">Ajuste</hlm-option>
  </hlm-select-content>
</brn-select>
